body{
    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(61, 37, 23);
    border-color: whitesmoke;
    border-style: groove;
}
.art
{
    border-color: whitesmoke;
    border-style: groove;
    border-radius: 2em;
}
.bench
{
    background-color: floralwhite;
}