body{
    background-image: url(galleryView.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(99, 83, 74);
    font-size: 60px;
    padding: 1em;
    background-color: seashell;
    margin-top: 20%;
}
div.home{ 
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
div.home:hover{
    border: 4px solid rgb(224, 188, 188);
}
div.home img{
    width: 100%;
    height: auto;
}
div.art{
    margin: 10px;
    border: 4px solid rgb(204, 196, 196);
    float: left;
    width: 150px;
}
div.art:hover {
    border: 4px solid rgb(150, 192, 211);
}
div.art img{
    width: 100%;
    height: auto;
}
div.title{
    padding: 2px;
}