body{
    background-image: url(galleryView.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: slategray;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
div.home{ 
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 950px;
    border: 1px solid rgb(255, 255, 255);
}
div.home:hover{
    border: 1px solid rgb(231, 216, 198);
}
div.home img{
    width: 100%;
    height: auto;
}
h2{
    color: slategray;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
div.art{
    border: 1px solid rgb(204, 196, 196);
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 950px;
}
div.art:hover {
    border: 1px solid rgb(150, 192, 211);
}
div.art img{
    width: 100%;
    height: auto;
}
div.title{
    color: slategray;
    text-align: center;
}