body{
    background-color: darksalmon;
    color: rgb(255, 243, 234);
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
}
h1{
    justify-content: center;
    padding: 40px;
    font-size: 50px;
    color: darksalmon;
    box-shadow: 1px 1px 8px rgb(139, 139, 139);
}
main{
    background-color: rgb(255, 243, 234);
    font-size: 25px;
    width: 1000px;
    height: max-content;
    box-shadow: 1px 1px 8px rgb(139, 139, 139);
    margin-bottom: 400px;
}
h1:hover{
    background-image: url(myStuff/confetti.gif);
    box-shadow: 1px 1px 10px gold;
    transition: ease-in-out;
}
a{
    text-decoration: none;
    color: rgb(139, 139, 139);
}
a:hover{
    text-decoration: none;
    color: gold;
}
.sunflower{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    float: right;
    align-self: center;
}
h1:hover .sunflower{
    animation: spin 5s infinite linear;
}
@keyframes spin {
    from 
    {transform: rotate(0deg);}
    to 
    {transform: rotate(359deg);}
}
.stuff{
    display: flex;
    justify-content: space-around;
}
.probtn{
    background-color: thistle;
    color: rgb(255, 243, 234);
    padding: 15px;
    border: none;
    font-size: 50px;
    width: 400px;
    box-shadow: 4px 4px 8px rgb(139, 139, 139);
}
.projects{
    position: relative;
    display: inline-block;
}
.projectContent{
    display: none;
    position: absolute;
    background-color: rgb(255, 243, 234);
    color: darksalmon;
    z-index: 1;
}
.projectContent a:hover{
    background-color: darksalmon;
    color: gold;
}
.projects:hover .projectContent{
    display: block;
}
.projectContent:hover .proBtn{
    background-color: darkmagenta;
    color: rgb(255, 243, 234);
}
.resbtn{
    background-color: thistle;
    color: rgb(255, 243, 234);
    padding: 15px;
    border: none;
    font-size: 50px;
    width: 400px;
    box-shadow: 4px 4px 8px rgb(139, 139, 139);
}
.responses{
    position: relative;
    display: inline-block;
}
.responseContent{
    display: none;
    position: absolute;
    background-color: rgb(255, 243, 234);
    color: darksalmon;
    z-index: 1;
}
.responseContent a:hover{
    background-color: darksalmon;
    color: gold;
}
.responses:hover .responseContent{
    display: block;
}
.responseContent:hover .resBtn{
    background-color: darkmagenta;
    color: rgb(255, 243, 234);
}
.message{
    color: thistle;
    justify-content: space-between;
    flex-direction: row;
}
.container{
    display: flex;
    justify-content: center;
}
.smallMoon{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    max-width: 270px;
    height: 150px;
    padding: 20px;
}
.smallMoon:hover{
    animation-name: crescent;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.smallMoon:active{
    animation-play-state: paused;
}
@keyframes crescent {
    from {border: transparent}
    to {border-left: 40px solid white;
        border-radius: 100%;}
}
