body{
    background-color: rgb(251, 247, 255);
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
}
h1{
    justify-items: space-between;
    padding: 40px;
    color: rgb(17, 17, 70);
    box-shadow: 1px 1px 8px rgb(139, 139, 139);
}
.name{
    font-size: 50px;
}
.info{
    font-size: 15px;
    flex-direction: column;
}
main{
    background-color: white;
    font-size: 25px;
    width: 80%;
    box-shadow: 1px 1px 8px rgb(139, 139, 139);
    padding-bottom: 50px;
}
.header{
    padding: 60px;
    font-size: 50px;
    color: teal;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    font-size: 40px;
    padding: 30px;
}
a:hover{
    text-decoration: none;
    color: gold;
}
@keyframes spin {
    from 
    {transform: rotate(0deg);}
    to 
    {transform: rotate(359deg);}
}
.album{
    height: 130px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.albumTitle{
    width: 400px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.albumTitle:hover{
    background-image: url(myStuff/stars.gif);
}
.albumDescription{
    width: 650px;
    text-align: center;
    justify-content: center;
}
.smallMoon{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
}
.moonTitle{
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
}
.moonDescription{
    width: 650px;
    text-align: center;
    justify-content: center;
}
.moonTitle:hover{
    animation-name: crescent;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.moonTitle:active{
    animation-play-state: paused;
}
@keyframes crescent {
    from {border: transparent}
    to {border-left: 40px solid black;
        border-radius: 100%;}
}
.game{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}
.gameTitle:hover{
    background-image: url(myStuff/coffee.gif);
    background-size: cover;
}
.gameTitle{
    width: 1200px;
    height: 255px;
    display: flex;
    justify-content: center;
}
.videoTitle{
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
}
.videoDescription{
    width: 650px;
    text-align: center;
    justify-content: center;
}
.video{
    height: 130px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}