body{
    display: flex;
    flex-direction: column;
    background-color: gray;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 27px;
}
h1{
    font-size: 50px;
}
img{
    width: 400px;
    padding: 30px;
}
.container{
    justify-content: space-around;
}
a{
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button{
    float: right;
}
.head{
    padding: 20px;
}
