body{
    font-family: 'Exo', sans-serif;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 5vw);
    grid-gap: 10px;
}
.xmas1{
    grid-area: 1/1/5/4;
}
.pillow1{
    grid-area: 1/4/5/8;
}   
.socks{
    grid-area: 1/8/5/12;
}
.pillow2{
    grid-area: 1/12/5/16;
}
.funfact{
    grid-row: 5;
    font-size: 15px;
    color: darkred;
}
.happybirthday{
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: rgb(245, 191, 145);
    color: white;
}
.birthday1{
    grid-area: 8/1/16/8;
}
.birthday2{
    grid-area: 8/8/16/16;
}


