body{
    overflow: hidden;
    background-image: url(images/folkloreBG.jpg);
    background-size: cover;
    background-repeat: none;
    display: flex;
    justify-content: center;
    font-family: 'IM Fell DW Pica', serif;
}
.name{
    font-size: 50px;
    width: 400px;
    position: absolute;
    margin-left: 100px;
    text-shadow: 0px 8px 8px white;
    padding: 70px;
}
.title{
    position: absolute;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 250px;
    letter-spacing: 5px;
}
/* fills main text of index page with a gif */
h2{ 
    background: url(images/folkgif.gif) no-repeat right top;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    font-size: 330px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    font-size: 350px;
}
.sub{
    text-align: center;
    font-size: 40px;
    position: absolute;
    margin-top: 500px;
    margin-left: 320px;
    text-shadow: 0px 8px 8px white;
}
main{
    height: 900px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}
#flipbook .page {
    background-color: antiquewhite;
    box-shadow: burlywood;
}
#flipbook #cover{
    background-image: url(images/bookcover.jpg);
    background-size: cover;
}
#flipbook #cover2{
    background-image: url(images/bookcover2.jpg);
    background-size: cover;
}
#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
 }
#flipbook .shadow, #book.shadow{
  -webkit-box-shadow: 0 8px 10px rgb(99, 85, 85);
  -moz-box-shadow: 0 8px 10px rgb(99, 85, 85);
  -ms-box-shadow: 0 8px 10px rgb(99, 85, 85);
  -o-box-shadow: 0 8px 10px rgb(99, 85, 85);
  box-shadow: 0 8px 10px rgb(99, 85, 85);
}
#flipbook{
    -webkit-transition:margin-left 0.2s ease-in-out;
    -moz-transition:margin-left 0.2s ease-in-out;
    -o-transition:margin-left 0.2s ease-in-out;
    -ms-transition:margin-left 0.2s ease-in-out;
    transition:margin-left 0.2s ease-in-out;
    position: fixed;
}
.bookTitle{
    font-size: 100px;
    margin-top: 150px;
    margin-left: 40px;
}
.subheading{
    margin-left: 70px;
    font-size: 33px;
}
h1{
    font-size: 40px;
    text-align: center;
    padding: 22px;
    margin-bottom: -20px;
    margin-top: -2px;
}
.dynast{
    font-size: 22px;
}
.mball{
    background-image: url(images/mirrorball.gif);
    color: white;
    margin-bottom: 20px;
}
.exi{
    background-image: url(images/exile.jpg);
    background-size: cover;
    color: white;
    margin-bottom: 10px;
}
.myTears{
    background-image: url(images/myTearsBG.jpg);
    background-size: cover;
    color: whitesmoke;
    margin-bottom: 30px;
}
p{
    padding-left: 22px;
    padding-right: 20px;
    font-size: 20px;
    text-align: justify;
}
.quote{
    font-size: 19px;
    padding-left: 22px;
    padding-right: 20px;
}
.quote2{
    font-size: 25px;
    padding-left: 22px;
    padding-right: 20px;
}
.quote3{
    font-size: 21px;
    padding-left: 22px;
    padding-right: 20px;
}
.quote4{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -5px;
    margin-top: -5px;
}
#add{
    font-size: 24px;
}
#sevenImg{
    width: 300px;
    border-radius: 100%;
    position: relative;
    margin-left: 40px;
}
#augustImg{
    width: 175px;
    height: 175px;
    float: right;
    position: relative;
    padding: 10px;
}
#bettyImg{
    width: 200px;
    float: right;
    margin: 10px;
    border-radius: 100%;
}
#cardiganImg{
    width: 258px;
    padding: 10px;
    float: right;
    position: relative;
}
#illicitImg{
    width: 410px;
}
#madImg{
    width: 420px;
}
#peaceImg{
    width: 420px;
    height: 200px;
}
#oneImg{
    width: 410px;
}
#epiphImg{
    width: 250px;
    height: 300px;
    float: right;
    position: relative;
    padding: 20px;
}
#tearsImg{
    width: 415px;
    height: 300px;
}
#stringImg{
    width: 418px;
}
#lakesImg{
    width: 170px;
    height: 175px;
    float: right;
    position: relative;
    padding: 5px;
}
.appendedQuotes{
    font-size: 45px;
    margin-top: -570px;
    margin-left: 900px;
    width: 240px;
    font-family: 'Charm', cursive;
    color: rgb(255, 251, 246);
    text-shadow: 10px 8px 8px rgb(1, 14, 1);
    animation: textAppear 6s ease 3s 1 normal;
}
/* fades in quotes on side of flipbook */
@keyframes textAppear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#font1{
    font-family: 'Indie Flower', cursive;
}
#font2{
    font-family: 'Marck Script', cursive;
}
#font3{
    font-family: 'Limelight', cursive;  
}
#font4{
    font-family: 'Homemade Apple', cursive;
}
#font5{
    font-family: 'The Girl Next Door', cursive;
}
#font6{
    font-family: 'Waiting for the Sunrise', cursive;
}
#font7{
    font-family: 'IM Fell Great Primer', serif;
}
#font8{
    font-family: 'IM Fell DW Pica', serif;
}
#font9{
    font-family: 'Monsieur La Doulaise', cursive;
}