body{
    overflow: hidden;
}
#book .page{
    background: white;
}
/*
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Charm', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Limelight', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'The Girl Next Door', cursive;
font-family: 'Waiting for the Sunrise', cursive;
*/