body {
    background-color: rgb(124, 181, 255);
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    font-size: 30;
    color: white;
}
div {
    display: flex;
}
button {
    padding: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
img{
    border-radius: 50%;
}
button:hover {
    background-color: blue;
    border: 5px solid rgb(0,0,0);
}
h2 { 
    display: flex;
    justify-content: center;
}
