body{
    font-family: 'Lemonada', cursive;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    border-radius: 50%;
    max-width: 20px;
    height: 20px;
    animation: rotation 3s infinite linear;
}
@keyframes rotation 
{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.main{
    opacity: 0;
    display: none;
    background-image: url(pictures/twinkleLights.gif);
    transition: opacity 3s ease-in;
}
.container{
    position: relative;
}
.text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    background-color: black;
}
.text2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    margin-top: 175px;
    color: gold;
    text-shadow: 2px 2px 8px black;
    font-size: 28px;
    padding: 50px;
}
.container:hover .text{
    opacity: 1;
}
.container:hover .text2{
    opacity: 1;
}
.symbol{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    box-shadow: 1px 1px 8px gold;
    border-radius: 10%;
}
#item1{
    font-size: 33px;
    background-color: black;
}
#ari{
    color: rgb(255, 119, 85);
}
#taur{
    color: rgb(55, 240, 138);
}
#gem{
    color: rgb(96, 34, 240);
}
#can{
    color: rgb(255, 140, 159);
}
#le{
    color: rgb(255, 145, 0);
}
#vir{
    color: rgb(224, 126, 108);
}
#lib{
    color: rgb(0, 38, 255);
}
#scorp{
    color: rgb(214, 0, 0);
}
#sag{
    color: rgb(129, 131, 255);
}
#cap{
    color: rgb(216, 122, 0);
}
#aqua{
    color: rgb(39, 248, 255);
}
#pisc{
    color: rgb(244, 126, 255);
}
header{
    font-size: 70px;
    padding: 10px;
}
.home{
    font-size: 15px;
    justify-content: start;
}
a{
    font-style: italic;
    text-decoration: none;
    color: gold
}
a:hover{
    color: white;
    text-decoration: none;
}
.intro{
    font-size: 30px;
    font-style: italic;
    margin-top: 0%;
}
.name{
    color: gold;
}
.aries{
    text-shadow: 4px 4px 8px rgb(255, 119, 85);
    color: white;
}
.taurus{
    color: white;
    text-shadow: 2px 2px 8px rgb(55, 240, 138);
}
.gemini{
    color: white;
    text-shadow: 4px 4px 8px rgb(96, 34, 240);
}
.cancer{
    color: white;
    text-shadow: 4px 4px 8px rgb(255, 140, 159);
}
.leo{
    color: white;
    text-shadow: 4px 4px 8px rgb(255, 145, 0);
}
.virgo{
    color: rgb(253, 242, 228);
    text-shadow: 4px 4px 8px rgb(224, 126, 108);
}
.libra{
    color: snow;
    text-shadow: 4px 4px 8px rgb(0, 38, 255);
}
.scorpio{
    color: white;
    text-shadow: 4px 4px 8px rgb(214, 0, 0);
}
.sagittarius{
    color: white;
    text-shadow: 4px 4px 8px rgb(129, 131, 255)
}
.capricorn{
    color: rgb(255, 249, 249);
    text-shadow: 4px 4px 8px rgb(216, 122, 0);
}
.aquarius{
    text-shadow: 2px 2px 8px rgb(39, 248, 255);
    color: white;
}
.pisces{
    color: snow;
    text-shadow: 4px 4px 8px rgb(241, 91, 255);
}
main{
    width: 1000px;
    display: grid;
}
.constImg{
    max-width: 400px;
    height: 500px;
    margin-top: 20px;
    box-shadow: 1px 1px 8px gold;
}
#item2{
    grid-area: 1/1/3/3;
    font-size: 30px;
}
.sunInfo{
    font-size: 22px;
    grid-area: 1/3/3/8;
    padding: 15px;
}
.secHeading{
    color: gold;
    text-shadow: 2px 2px 4px gold;
    text-align: center;
    font-size: 30px;
}
.element{
    max-width: 700px;
    height: 190px;
    margin-top: 20px;
    box-shadow: 1px 1px 8px gold;
}
#item3{
    grid-area: 3/5/4/8;
    font-size: 30px;
}
.others{
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px 8px gold;
    margin-top: 20px;
    text-align: center;
}
.elementInfo{
    font-size: 15px;
    color: white;
    grid-area: 3/1/4/5;
    padding: 15px;
}
.celebrities{
    grid-area: 4/1/12/4;
}
.celeb{
    width: 300px;
    box-shadow: 3px 3px 6px gold;
}
.celebName{
    color: gold;
    font-size: 20px;
}
.planet{
    grid-area: 4/5/6/8;
    margin-left: 20px;
}
.planetIntro{
    color: gold;
    font-size: 40px;
}
.planetInfo{
    font-size: 23px;
}
.planetImg{
    width: 600px;
    border-radius: 50%;
}
.quality{
    margin-top: 50px;
    grid-area: 6/5/7/8;
    margin-left: 20px;
    font-size: 21px;
}
.otherInfo{
    grid-area: 7/5/8/8;
}
.stereotype{
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    box-shadow: 1px 1px 20px gold;
}
.compatible{
    margin-top: 50px;
    font-size: 23px;
    text-align: center;
}
.podcast{
    grid-area: 8/2/9/7;
    margin-top: 80px;
}
.podIntro{
    color: gold;
    font-size: 25px;
    text-align: center;
}


