body{
    font-family: 'Crete Round', serif; 
    background-image: url(images/cafeBG.jpg);
    background-size: cover;
}
.container{
    display: flex;
}
.order{
    background-color: tan;
    color: brown;
    font-size: 30px;
    font-family: 'Cedarville Cursive', serif;
    flex-direction: column;
    float: left;
    width: 200px;
    height: fit-content;
}
.button {
    position: absolute;
    cursor: pointer;
    padding: 10px 15px;
    background: white;
    color: tan;
    opacity: 1;
    font-size: 100px;
}
.canvas {
    max-width: 1000px;
    height: 500px;
    box-shadow: 1px 1px 8px slategray ;
    background: white;
    overflow: hidden;
    position: relative;
    margin-left: 220px;
    margin-top: -300px;
}
.choose{
    width: 800px;
    opacity: 0;
}
.movingCup{
    height: 200px;
    width: 227px;
}
.cup img{
    height: 400px;
    position: absolute;
    cursor: pointer;
}
#iced{
    margin-left: 700px;
    margin-top: -400px;
}
#hot{
    margin-left: 400px;
}
.fallingImg {
    opacity: 1;
    z-index: 90;
    top: -50px;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.milks1 {background-image: url(images/milkPics/wholeMilk.png);}
.milks2 {background-image: url(images/milkPics/skimMilk.png);}
.milks3 {background-image: url(images/milkPics/2%Milk.png);}
.milks4 {background-image: url(images/milkPics/oatMilk.png);}
.milks5 {background-image: url(images/milkPics/almondMilk.png);}
.milks6 {background-image: url(images/milkPics/coconutMilk.png);}
.milks7 {background-image: url(images/milkPics/soyMilk.png);}
.milks8 {background-image: url(images/milkPics/cream.png);}
.milks9 {background-image: url(images/milkPics/foam.png);}
.milks10 {background-image: url(images/milkPics/noMilk.png);}
/* width: 40px; height: 76px; */
  
.addIns1 {background-image: url(images/addInPics/splenda.png);}
.addIns2 {background-image: url(images/addInPics/sweetNLow.png);}
.addIns3 {background-image: url(images/addInPics/sugarInTheRaw.png);}
.addIns4 {background-image: url(images/addInPics/cinnamon.png);}
.addIns5 {background-image: url(images/addInPics/sugar.png);}
/* width 76px; height: 40px; 
width: 40px; height: 47px; */

.syrups1 {background-image: url(images/syrupPics/caramel.png);}
.syrups2 {background-image: url(images/syrupPics/vanilla.png);}
.syrups3 {background-image: url(images/syrupPics/mocha.png);}
.syrups4 {background-image: url(images/syrupPics/hazelnut.png);}
.syrups5 {background-image: url(images/syrupPics/noSyrup.png);}
.syrups6 {background-image: url(images/syrupPics/pumpkinSpice.png);}
.syrups7 {background-image: url(images/syrupPics/whiteChocolate.png);}
/*width: 40px; height: 100px; */ 

.drinks1 {background-image: url(images/drinkPics/darkRoast.png);}
.drinks2 {background-image: url(images/drinkPics/lightRoast.png);}
.drinks3 {background-image: url(images/drinkPics/mediumRoast.png);}
.drinks4 {background-image: url(images/drinkPics/americano.png);}
.drinks5 {background-image: url(images/drinkPics/espresso.png);}
.drinks6 {background-image: url(images/drinkPics/macchiato.png);}
.drinks7 {background-image: url(images/drinkPics/latte.png);}
.drinks8 {background-image: url(images/drinkPics/coldBrew.png);}
.drinks9 {background-image: url(images/drinkPics/greenTea.png);}
.drinks10 {background-image: url(images/drinkPics/blackTea.png);}
.drinks11 {background-image: url(images/drinkPics/chaiTea.png);}
/*width: 40px; height: 63px; */

  