body{
    font-family: 'Lemonada', cursive;
    background-image: linear-gradient(white, rgb(197, 197, 197));
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 100px;
}
.spinningSun{
    color: rgba(red, green, blue, 0);
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
