body{
    font-family: 'Lemonada', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    display: flex;
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    max-width: 20px;
    height: 20px;
    animation: rotation 3s infinite linear;
}
@keyframes rotation 
{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.main{
    opacity: 0;
    display: none;
    transition: opacity 3s ease-in;
}
.constImg{
    display: flex;
    justify-self: left;
    max-width: 300px;
    height: 400px;
}
.symbol{
    max-width: 200px;
    height: 175px;
    margin-top: 50px;
}
header{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 8px rgb(39, 248, 255) ;
    background-color: black;
    width: max-content;
    padding: 10px;
}

