body{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    background-color: rgb(209, 208, 208);
}
#hidden1{
    opacity: 0;
    display: none;
}
#hidden2{
    color: rgb(209, 208, 208);
    width: max-content;
}
.margin1{
    margin-top: 600px;
    font-size: 32px;
    text-align: center;
}
a{
    float: right;
    margin-top: 200px;
    padding: 30px;
    text-decoration: none;
    color: rgb(231, 137, 28)
}
a:hover{
    padding: 30px;
    background-color: rgb(231, 137, 28);
    color: rgb(236, 224, 216);
}
.congrats{
    color: rgb(231, 137, 28);
    float: left;
    margin-top: 200px;
    padding: 30px;
    width: 323px;
}
#typewriter{
    padding: 150px;
    text-align: center;
}
#typewriter2{
    text-align: left;
    padding: 20px;
}
#typewriter3{
    height: 500px;
}
div{
    padding: 20px;
    width: 400px;
}
form{
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 600px;
}
.purple{
    background-color: rgb(208, 192, 228);
}
.purpleLink a{
    color: rgb(114, 55, 187);
}
.purpleLink a:hover{
    background-color: rgb(114, 55, 187);
    color: rgb(208, 192, 228);
}
.jacketsImg{
    box-shadow: rgb(140, 73, 223);
}
.pg2{
    background-color: rgb(236, 224, 216);
}
.pg3{
    background-color: rgb(160, 201, 204);
}