body{
    font-family: 'Lemonada', cursive;
    background-image: url(constellation.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 400px;
    animation-name: crescent;
    animation-duration: 5s;
}
@keyframes crescent {
    from {background: 50px solid white;
        border-radius: 50%;}
    to {border-left: 50px solid white;
        border-radius: 100%;}
}
h1{
    justify-content: center;
}



