body{
    font-family: 'Lemonada', cursive;
    background-image: url(constellation.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    height: 400px;
    padding: 20px;
    animation-name: crescent;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}
@keyframes crescent {
    from {border: transparent}
    to {border-left: 50px solid white;
        border-radius: 100%;}
}
.prompt{
    justify-content: center;
    color: white;
    font-size: 35px;
    padding: 20px;
}
.options{
    font-family: 'Lemonada', cursive;
    background-color: white;
    border: none;
    color: rgb(45, 0, 128);
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}
.select-selected:{
    background-color: rgb(48, 44, 255);
    color: white;
}