body{
    font-family: 'Lemonada', cursive;
    background-image: url(sky.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    max-width: 600px;
    height: 300px;
    padding: 2em;
    background: linear-gradient(rgb(131, 154, 255), rgb(163, 130, 255));
}
h1{
    justify-content: center;
    color: white;
    font-size: 70px;
}



