body{
    background-color: rgb(255, 236, 209);
    font-family: 'Exo', sans-serif;
}
.pictures{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border-color: white;
}
h1{
    color: rgb(209, 86, 14);
    display: flex;
    justify-content: center;
}
.pictures__img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}   