body{
    font-family: 'Exo', sans-serif;
}
h1{
    color: rgb(209, 86, 14);
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}
.pictures{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}   
.picture1{
    grid-area: 1/1/4/3;
}
.picture2{
    grid-area: 1/3/4/5;
}
.picture3{
    grid-area: 1/5/5/9;
}
.picture4{
    grid-area: 4/1/9/5;
}
.picture5{
    grid-area: 5/5/9/9;
}