body{
    background-color: rgb(255, 236, 209);
}
.pictures{
    height: 300px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-color: white;
}
h1{
    color: rgb(209, 86, 14);
    display: flex;
    justify-content: center;
}
