body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(58, 58, 58);
    font-size: 50px;
    background-color: rgb(228, 185, 192);
}
main{
    display: flex;
    flex-direction: column;
}
a{
    margin-top: 300px;
    text-decoration: none;
    border: 2px solid rgb(105, 91, 91);
    color: rgb(58, 58, 58);
}
a:hover{
    box-shadow: 2px 2px 2px rgb(105, 91, 91);
    text-shadow: 2px 2px 2px rgb(105, 91, 91);
}
a:visited{
    color: rgb(58, 58, 58);
}