body{
    background-image: url(wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: lightblue;
    text-align: center;
    font-size: 60px;
    text-decoration: rgb(255, 247, 233);
}